.App {
  /* text-align: center; */
}

body {
  background-color: #596F62;
}

h4 {
  padding: 10px;
  font-weight: bold;
}

nav {
  background-color: #1C3144;
  color: #C3D898;
}

.brand-logo {
  padding: 10px;
  margin-left: 10px;
}

.mainContainer {
  background-color: #C3D898;
  padding: 15px;
}

.profilePhoto {
  width: 100%;
  margin: 15px;
}

.active {
  background-color: #70161E;
}

.homeContent {
  /* padding: 10px; */
} 

.card {
  /* width: 250px; */
  width: 100%;
  /* height: 350px; */
  /* margin: 10px; */
  display: inline-block;
  border: 10px solid #70161E;
  background-color: #7EA16B;
}

.card-image {
  /* width: 246px; */
  /* height: 100%; */
  /* border: 10px solid #7EA16B; */
}

a:link {
  text-decoration: none;
}

.projectDescription {
  font-size: 14px;
}
.card .card-title {
  font-weight: bold;
  font-size: 18px;  
}

.card .card-action {
  background-color: #70161E;
  color: white;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: white;
}

.card-content {
  background-color: #7EA16B;
}